#services
  #content
    %h2 Services
    %h3
      We are dedicated to delivering simple and powerful solutions for businesses.
      Following by set of rules such as Behavioral Driven Development and Agile we are able to give you very close control on project development.
      Remeber that big power comes with big responsibility - so we demand a lot from our cusomers - result is their big satisfaction.
    #overview
      %h4 Services Overview
      %p
        Everything starts at one table.
        First we sit and talk about what you need. Note that you need to know what you want before we meet.
        Then together we draw everything on 960 Grid System Wireframe.
        Then together we start writing Cucumber scenarios covering the behavior of your project.
        This makes you sure that everything is as you wanted to be.
        When development starts we all know what to do.
        When you want to make changes in your project after year, there will be no increased cost and pain.
        %ul
          %li Website Design and Development
          %li Product Promotion Website Design and Development
          %li Web Applications Design and Development
          %li iPhone Applications Design and Development
          %li IT Consulting
    #details
      %h4 Website Design and Development
      %p
        As many companies do not really need an Website our first question to you is: "Why do you need an Website?"
        After get an answer we set goals and brainstorm posible solutions with you (we still sit at one table).
        Remeber: as we follow "Less is more" principle we will try to get rid of as many things as possible.
        So be prepared to justify why you need certain things.
      %h4 Product Promotion Website Design and Development
      %p
        As there is possibility to make an website to sell or promote one on several products we give you an oportunity to do that.
        This allows you to participate in affiliate programs and became reseller for big companies.
        We give you also statistics on how is the product popularity and some tips how to sell it better.
      %h4 Web Applications Design and Development
      %p
        Some companies decide to make own system that suits their needs.
        We can code almost everything but the question is: "Do you really need that?"
        This kind of cooperation needs to be very close and requires instand feedback from you for longer period of time.
      %h4 iPhone Applications Design and Development
      %p
        As this platform is beeing better and better in the time we can offer mobile solutions for you and your staff.
        This includes full integration of services within your company and gives you flexible controll over you business.
      %h4 IT Consulting
      %p
        As we have extense knowledge about many technologies we can provide that knowledge to your business to allow it grow rapidly.
        Many of our clients just need some scaling and tools to build powerful empires.
  .clear

