#people
  #content
    %h2 O nas
    %h3
      Nasza firma zajmuje się realizacją zleceń budowlanych.
      Kopiemy wszędzie tam gdzie wskażecie. Doskonała fuzja człowieka z maszyną
    #overview
      %h4 Czym się posługujemy 
      %p
        Wykonujemy usługi wykopów pod:
        %ul
          %li sanitaria
          %li wod-kan
          %li telefon
          %li xxx
          %li xxx

    #details
      %h4 Nasza galeria:
      .worker
        .image
          =h Worker.new(:image_url => '/images/12345.jpg').image_url
        .description
          %dl
            %dt Gdzie:
            %dd miejsce
            %dt rodzaj usługi:
            %dd kopanie pod coś tam
            %dt Opis:
            %dd było dużo kopania i coś musieliśmy tam wykombinować i nie wiadomo co nam przeszkodziło. była to wielka dżdżownica!
  .clear
