/* line 1, ../../../app/stylesheets/text/headers.sass */
h2 {
  color: 999;
}

/* line 3, ../../../app/stylesheets/text/headers.sass */
h3 {
  color: 777;
}

/* line 5, ../../../app/stylesheets/text/headers.sass */
h4 {
  color: 0;
}
