#header
  #name BudKop
  #menu
    %ul
      %li= link_to('O nas', people_path)
      %li= link_to('Usługi', services_path)
      %li= link_to('Technologie', technology_path)
      %li= link_to('Kontakt', contact_us_path)
  .clear
  #motto Wykopiemy wszystko ... wszędzie ... i wszystkich!
.clear
