#header
  #name DoubleDrones
  #menu
    %ul
      %li= link_to('People', people_path)
      %li= link_to('Services', services_path)
      %li= link_to('Technology', technology_path)
      %li= link_to('Contact us', contact_us_path)
  .clear
  #motto We work in collective ... We write in Ruby ... We live with GTD ...
.clear
